<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Acme Product Management</title>

    <!-- Style sheets -->
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <script type="text/javascript" src="Scripts/vue.min.js"></script>
    <script type="text/javascript" src="Scripts/axios.min.js"></script>
    <script src="travel/dataRepository.js"></script>
    
    <div id="travel">
        <form class="form-inline">
            <div class="form-group"><town-select label="Iz" v-model="order.from" /></div>
            <div class="form-group"><town-select label="u" v-model="order.to" /></div>
            <div class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></div>
        </form>
    </div>

    <script type="text/javascript">

        var travel = new Vue({
            el: "#travel",
            data: {
                order: { from:2, to:3 }
            },
          
        });
        

    </script>

</body>

</html>